@import url(index/header.css);
@import url(index/main.css);
@import url(menukort/menu.css);

body{
    margin: 0;
    background-image: url(images/kaffe.JPG);

}
a{
    border-bottom: 1px solid black;
}
@media (min-width: 479px) {
    body {
        background-size: cover;
    }
}

:root {
    --accent-clr: rgba(0, 0, 0, 0.233); 
    z-index: 1;
}