/* boksen */
.tidsbestilling{
  display: grid;
  gap: 1vh;
}
input{
  height: 2vh;
}

article{
  grid-template-columns: 2;
  grid-template-rows: 22;
}



/* dato */
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  
  /* custom styles */
  label {
    display: block;
    color: white;
  }
  input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 190px;
  }